.person-page {
    color: white;
    width: 100%;
}

.info-part-container {
    width: 100%;
    height: auto;
    display: flex;
}

.analytics-part-container {
    width: 100%;
    height: auto;
    display: flex;
}

.journal-part-container {
    width: 100%;
    height: auto;
}
