<div class="incident-chart">
    <div echarts [options]="chartOption" class="demo-chart"></div>
    <div class="incidentChart-history">
        <div class="history-text">
            <div class="text-dot-complete"></div>            
            <span class="text">Закрытые</span>
        </div>
        <div class="history-text">
            <div class="text-dot-active"></div>
            <span class="text">Активные</span>
        </div>
        <div class="history-text">
            <div class="text-dot-new"></div>
            <span class="text">Новые</span>
        </div>
    </div>
</div>