.demo-chart {
    height: 100%;
    width: auto;
    margin-bottom: -10%;
}

.kpi-chart {
    width: 100%;
    height: 350px;
}

.kpi-chart-text {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
  }
  
  .chart-text {
    color: #FFFFFF99;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
  }